<input type="hidden" name="id" id="id" value="[% role.id %]">

<div class="form-group">
  <label class="control-label col-md-2" for="name">Name</label>
  <div class="col-md-3">
    <input type="text" name="name" id="name" value="[% arole.name %]" class="form-control" placeholder="Enter role name" required autofocus>
  </div>
</div>