<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    [% FOR role IN results.roles # .slice( pager.first - 1, pager.last - 1) %]
    <tr>
      <td>[% role.id %]</td>
      <td><a href="roles/[% role.id %]">[% role.name.replace("((?i)$query)", '<b>$1</b>') %]</a></td>
    </tr>
    [% END %]
  </tbody>
</table>

[% # INCLUDE _pagination.tt %]