<div class="content">
    
    <div class="header">
        
        <h1 class="page-title">[% title %]</h1>
    </div>
    
    <ul class="breadcrumb">
        <li><a href="/">Home</a> </li>
        <li class="active">[% title %]</li>
    </ul>

    <div class="container">
        <div class="row">
          [%  INCLUDE _flash.tt %]