<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>User Name</th>
    </tr>
  </thead>
  <tbody>
    [% FOR user IN results.users # .slice( pager.first - 1, pager.last - 1) %]
    <tr>
      <td>[% user.id %]</td>
      <td><a href="users/[% user.id %]">[% user.username.replace("((?i)$query)", '<b>$1</b>') %]</a></td>
    </tr>
    [% END %]
  </tbody>
</table>

[% # INCLUDE _pagination.tt %]